# config for (Django + Postgres) -> Docker -> Travis -> Heroku

language: python
python:
    - 3.8
services:
    - docker
#    - postgresql

install:
    - pip install -r requirements.txt
#before_script:
#    - python manage.py collectstatic
#    - psql -c 'create database testdb;' -U postgres
#    - psql -c 'create database travisci;' -U postgres
#    - psql -c "CREATE DATABASE testdb;" -U postgres
#    - docker-compose run web python manage.py collectstatic

script:
    - docker-compose build
    - docker ps
    - docker-compose run django python manage.py makemigrations
    - docker-compose run django python manage.py migrate
    - docker-compose run django python manage.py loaddata dxlab/apps/core/fixtures/fixtures.json
    - docker-compose run django python manage.py test

deploy:
    provider: script
    script: bash docker_push.sh
    skip_cleanup: true
    on:
        branch: master